 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <a class="navbar-brand" href="/members">
        Back to Homepage
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span>!!!!</h2>
        <h2>Let's adds some bookmarks!!</h2>
      </div>
     {{!-- <ul>
        {{#each Bookmark}}
            {{bookmark.title}}
            {{bookmark.url}}
        {{/each}}
    </ul> --}}
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/addBookmark.js"></script>