<!-- nav bar -->
<nav class="navbar navbar-dark bg-transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout"> Logout </a>
      <a class="navbar-brand" href="/addBookmark"> Edit Bookmarks </a>
    </div>
  </div>
</nav>

<!-- main container -->
<div class="container">
  <!-- first row containg the header-->
  <div class="row">
    <div id="mainHead" class="col-md-6 col-md-offset-3">
      <h1 class="whiteText">Welcome <span class="member-name whiteText">Mike </span> !</h1>
      <h2  class="whiteText"><span class="whiteText" id="currentDay"></span>, <span class="whiteText" id="currentTime"> </span></h2>
    </div>
  </div>
  <!-- second row conataining the google search bar -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <form id="googleForm">
          <input class="input" type="text" id="google" /><br />
          <button type="submit" id="submitBtn" class="btn btn-primary">
            GOOGLE
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- div to display all bookmarks --}}
<div class="row">
  <div id="bookmarkDiv" class="col-md-6 col-md-offset-3">
    {{#each bookmark}}

    <div>
      {{!-- <p class="whiteText">{{dataValues.title}}</p> --}}
      <p class="grow"><a class="whiteText" target="_blank" href="https://{{dataValues.url}}"> {{dataValues.title}} </a></p>
    </div>

    {{else}}

    <p>No Bookmarks Saved yet.</p>

    {{/each}}

  </div>
  <div id="photoLink"></div>
</div>

<script src="https://kit.fontawesome.com/8e9f94faa6.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/moment.js"></script>